*{
    margin: 0
    ;
    padding: 0%;
}
#header{
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 5px;
    background-color: lightblue;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#wrapper{
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: wheat;
}
.select-quality{
    display: flex;
    margin: 5px ;
    /* padding: 0 5px; */
}
.select {
    display: flex;
    width: 50%;
    flex-direction: column;
}
.quality{
    
        display: flex;
        flex-direction: column;
        width: 50%;
    
}
.name {
    display: flex;
    flex-direction: column;
}button {
    margin-top: 20px;
    /* display: inline-block; */
    /* text-align: center; */
    border-radius: 5px;
    color: black;
}
#wrapper2{
    display: flex;
    flex-wrap: wrap;
}
.box{
    border: 1px solid;
    height: 100px;
    width: 18%;
    margin: 5px 5px;
}
.box p{
    color: white;
    font-size: 20px;
    font-weight: 500;
}
.top{
    height: 25%;
    background-color: red;
}